extends layout

block vars
    - let title = '火星人科技'

block content
    .w-main
        .w-overall
            .section.preload.section-gxtopimg
    .lh90.bestWorkOut.tc.section.preload.section-yytitle
        .container
            .content
                p.bestWork.f72.color22.title 最好的作品
                p.f50.color22.mb200.subtitle 往往是你亲自设计的那一款
                p.f47.color22.lh80.up.cuss
                    | 唯未来先生可定制
                    br
                    | 个性即显人性
    ul.orProduct.bc.clearfix.w.pr
        li#pink-prod
            span.orProductName.fr.db.w200.lh80.f18.color22.opc0 浪漫粉
            img(src='/public/images/custom/orpone.png' width='100%')
        li#yel-prod
            span.orProductName.fr.db.w200.lh80.f18.color22.opc0 萌萌黄
            img(src='/public/images/custom/oPtwo.png' width='100%')
        li#ff-prod(style='z-index: 99;')
            span.orProductName.fr.db.w200.lh80.f18.color22 经典白
            img(src='/public/images/custom/oPthree.png' width='100%')
        li#gree-prod
            span.orProductName.fr.db.w200.lh80.f18.color22.opc0 香思绿
            img(src='/public/images/custom/oPfor.png' width='100%')
        li#blu-prod
            span.orProductName.fr.db.w200.lh80.f18.color22.opc0 心悦蓝
            img(src='/public/images/custom/oPfive.png' width='100%')
    ul.typePr.clearfix.bc
        li
            img(src='/public/images/custom/zgone.png')
            span.orProductName.fr.db.w435.lh80.f18.color22 星际银
        li
            img(src='/public/images/custom/zgtwo.png')
            span.orProductName.fr.db.w435.lh80.f18.color22 浅金色
        li
            img(src='/public/images/custom/zgthree.png')
            span.orProductName.fr.db.w435.lh80.f18.color22 浅美枫
        li
            img(src='/public/images/custom/zgfour.png')
            span.orProductName.fr.db.w435.lh80.f18.color22 深胡桃
    .content.tkuan
        span.f48 同款不同色
    .bgbanner.pr(style='z-index: 99;')
        .pa.clasiff.section.preload.section-bbtitle
            p.f61.lh65.mb20.title 经典白
            p.f16.lh32.title
                | 简约纯净所以百搭，明亮的未来色彩，
                br
                | 素雅之下更能给人一种安静与洁净的视觉体验。
                br
                | 无论是中式、欧式、田园式装修，
                br
                | 经典的白色都在居住环境中起到完美融合的效果。
    .bgbannersecOut.section-growup.pr.w(style='z-index: 98;')
        .pa.clasifftwo(style='z-index: 99;')
            p.f34.color22.lh65.mb20 个性炫彩
            p.f20.color22.lh32
                | 不拘一格的思维模式，跳脱传统逻辑的审美理解，
                br
                | 多彩外形创造同样精彩的生活呼吸。
                br
                | 求同存异的未来先生将满足每一个个性化色彩需求，
                br
                | 再一次更新时尚的创想空间。
        .bgbannersec.W_sectionScene.abs-left.abs-top.w  
    .bgbannerthir.pr(style='z-index: 99;')
        .pa.clasiffthree.section.preload.section-bbtitle
            p.f34.colorwh.lh65.mb20.title 木纹配件
            p.f20.colorwh.lh32.title
                | 百年经典木纹，一向是豪华贵派象征。
                br
                | 未来先生定制木纹配件，
                br
                | 贴近自然生态更显典雅的居家格调，
                br
                | 表现出艺术藏品般的精致。
    .airor.bc
        p.lh90.f50.tc.color22.mb50(style='font-size:42px;')
            span(style='line-height:-20px;') 空气也可定制
            br
            span(style='margin-top:-20px;')
                | 选择最合适你的那一款
        .heidth.tc 高度、直径相同的通用接口设计，随时按需更换适合自己的滤网组合
        ul.airortype.clearfix
            li.tc.bor.borm
                img(src='/public/images/custom/normal.png')
                .tc.f30.color22.lh80 蓝净版
            li.tc.bor.borm
                img(src='/public/images/custom/best.png')
                .color22.lh80.f30 经典版
            li.tc.borm.bor
                img(src='/public/images/custom/getrid.png')
                .color22.lh80.f30 除醛加强版
            li.tc.borm
                img(src='/public/images/custom/best.png')
                .color22.lh80.f30 极苛版
            li.bor.borm.typechara.tl
                span.db.mt20.f16.color3e.lh32.mb10(style='margin-left:20px; margin-right:20px;') 4.5㎡H13级医用HEPA+加强纯初效滤网，适合多台购买及室内甲醛达标不需要除甲醛，只针对pm2.5的家庭。
            li.bor.borm.typechara
                span.db.mt20.ml20.mr20.f16.color3e.lh32.mb10 针对已入住一段时间的住宅，采用专注于长效净化的H13医用级HEPA滤网，其优质稳定的净化功能，能对PM2.5与甲醛等有害气体进行长期高效的居家净化。
            li.borm.typechara.bor
                span.db.mt20.ml20.f16.color3e.lh32.mb10 针对新家装修，甲醛、笨、氨、氡等有害气体浓度更高的情况，特别配备更高效的活性炭滤网，高效保护新入住的居住环境。
            li.borm.typechara
                span.db.mt20.ml20.f16.color3e.lh32.mb10
                    | H14极限净化HEPA滤网是对空气质量有极端
                    | 苛刻要求的家庭首选。它能更快速、彻底地 清除家中极为细致的污染物与过敏原。

block script
    script.
