extends layout

block vars
    - let title = '火星人科技'

block content
    .main
        .top_banner(style='background:url(/public/images/goods_article/xftopimg.jpg) no-repeat center center;')
            a(href='#')
        .main_condent
            .art_title 规格参数
            ul.art_ul
                li.art_item
                    .item_left 产品尺寸
                    .item_right
                        .art_condent
                            p
                                img(width='681', height='939', src='/public/images/goods_article/guige(1).jpg')
                li.art_item
                    .item_left 净化效率
                    .item_right
                        .art_condent
                            p
                                img(width='811', height='502', src='/public/images/goods_article/111111(4).jpg')
                li.art_item
                    .item_left 屏幕
                    .item_right
                        .art_condent
                            p
                                img(width='776', height='197', src='/public/images/goods_article/guige(3).jpg')
                li.art_item
                    .item_left 智能模组
                    .item_right
                        .art_condent
                            p
                                img(width='399', height='351', src='/public/images/goods_article/guige(4).jpg')
                li.art_item
                    .item_left 功能
                    .item_right
                        .art_condent
                            p
                                img(width='670', height='280', src='/public/images/goods_article/guige(5).jpg')
                li.art_item
                    .item_left 功耗&噪音
                    .item_right
                        .art_condent
                            p
                                img(width='568', height='153', src='/public/images/goods_article/guige(6).jpg')
                li.art_item
                    .item_left 包装内容
                    .item_right
                        .art_condent
                            p
                                img(width='647', height='841', src='/public/images/goods_article/guige(7).jpg')
                ul



block script
    script.
        $(function () {
            $('.item_right img').each(function (i, obj) {
            $(obj).removeAttr('width').removeAttr('height');
            });
        });