.doc_bottom
    .bottom.bc
        .wrapper
            ul.one
                li
                    .th
                        a 关于我们
                    div
                        a(href='javascript:;', title='新闻') 新闻
                    div
                        a(href='javascript:;') 关于我们
                    div
                        a(href='javascript:;') 检测报告
                li
                    .th
                        a 购买渠道
                    div
                        a(href="javascript:;") 苏宁商城
                    div
                        a(href="javascript:;") 淘宝商城
                    div
                        a(href='javascript:;') 购买配件
                li
                    .th
                        a 服务支持
                    div
                        a(href='installation') 配送安装
                    div
                        a(href='service') 售后政策
                    div
                        a(href='download') APP下载
                li
                    .th
                        a(target='_blank') 关注我们
                    .weixin
                        a(href='javascript:;') 官方微信
                        img(src='/public/images/footer/qrcode.png' width='150', height='150')
                    div
                        a(href=href="#") 官方微博
            ul.three.fr.tr
                li.th
                    a(href='') 联系我们
                li 周一至周五 
                li 9:00-18:00 
                li.lh80
                    p(style='font-size: 32px;color: #009fff;') 0771-3216270
    .wrapper.tc.bc
        p.copyright
            | © 火星云 2018 版权所有，并保留所有权利。 ©2018 Designed By Mars-IT All Rights Reserved
            br
            | 桂ICP备15003644号-2
block script
    script.
        $('.bottom').css('border-top', '0')
