.fix-top.w(style='position: fixed; z-index: 999;')
    .wrapper.bc.clearfix
        a.little-icon.logo.fl.db(href='/')
        ul.nav
            li
                a(href='heart') 不忘初心
            li
                a(href='design') 新风&设计
            li
                a(href='theory') 滤芯原理
            li
                a(href='science') 智能科技
            li
                a(href='example') 实例应用
            li
                a(href='custom') 个性定制
        #TECHAN_MEMBERZONE.little-icon.fr.db.top_user
            a.user-icon(href='#')
div(style='height:58px;width:100%;display:block;')
.fix-topsec.w
    .wrapper.bc.clearfix
        span.mrfu MARS
        a.buy-now.db.fr(href='goods')
        ul.custom.fr
            li
                a(href='goods_article') 规格
            li(style='padding-right:40px;')
                a(href="javascript:;") 客服

block script
    script.
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "/public/javascripts/hm.js-ea2e0936fea79d3f43855fdec2f4ba5a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();